.多边形-1 {
    width: 24px;
    height: 28px;
    background-position: -0px -0px;
}

.Cut-_-Scissors {
    width: 15px;
    height: 20px;
    background-position: -0px -28px;
}

.Ruler {
    width: 22px;
    height: 20px;
    background-position: -0px -48px;
}

.椭圆-3-拷贝 {
    width: 18px;
    height: 18px;
    background-position: -0px -68px;
}

.椭圆-4-拷贝-2 {
    width: 18px;
    height: 18px;
    background-position: -0px -86px;
}

.box {
    width: 19px;
    height: 15px;
    background-position: -0px -104px;
}

