html {
	font-size: 625%;
}
body {
	font-size: 16px;
    margin: 0;
	padding: 0;
	background-color: #eff0f4;
}
$bg-color: #5fc0cd;
$bg-color-white: #fff;
$font-size-16: .16rem;
$font-size-18: .18rem;
$margin-top-16: .16rem;
$margin-top-35: .35rem;
$height-50: .5rem;

.login-top {
	width: 100%;
	height: $height-50;
	background: $bg-color; 
	text-align: center;
	span {
		font-size: $font-size-16;
		color: #fff;
		line-height: $height-50;
	}
}
.lf {
	float: left;
	margin-left: .1rem;
}
.rg {
	float: right;
	margin-right: .1rem;
}
.iphone {
	position: relative;
	input {
		background: url(ico1.png)  #fff center left no-repeat;
		background-position: .21rem .15rem;
		width: 100%;
        height: $height-50;
        text-indent:.75rem;
        margin-top: $margin-top-16;
        outline: none;
        border: none;
	}
}
.password {
	position: relative;
	input {
		background: url(ico2.png)  #fff center left no-repeat;
		background-position: .21rem .15rem;
		width: 100%;
        height: $height-50;
        text-indent:.75rem;
        margin-top: $margin-top-16;
        outline: none;
        border: none;
	}	
}
.line {
    width: 1px;
    height: 26px;
    background: url(ico3.png);
    position: absolute;
    left: .5rem;
    top: .48rem;
}
.login {
	button {
    width: 100%;
    height: $height-50;
    text-align: center;
    background-color: $bg-color;
    line-height: $height-50;
    font-size: $font-size-16;
    color: #fff;
    border: none;
    margin-top: $margin-top-35;
	}
}

a {
	text-align: right;
    text-decoration: none;
    font-size: $font-size-16;
    color: #5fc0cd;
    display: block;
    margin: .2rem;
}