.dropdown-content li {
	width: 22.5%;
	padding-bottom: 22.5%;
	display: inline-block;
	margin-right: 1.25%;
	margin-left: 1.25%;
	background-size: 75% 75%;
}
li.knife {
    background: #fff url(task01.png) 50% 50% no-repeat;
}
.find {
     background: #fff url(task02.png) 40% 40% no-repeat;
}
.sight {
    background: #fff url(task03.png) 40% 40% no-repeat;
}
.cure {
     background: #fff url(task04.png) 40% 40% no-repeat;
}
.jqopen {
	display: block!important;
}
